################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsolFluentapp/bin/Debug
/ConsolFluentapp/obj/Debug
/ConsolFluentappTests/obj/Debug
